name: Python Test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[dev]
    - name: Test with tox
      run: |
        tox run
      env:
        TOX_GH_MAJOR_MINOR: ${{ matrix.python-version }}
    - name: Test parallel execution
      run: |
        cd integration-tests/parallelization
        bash time-parallel-tests.sh .
    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
